 body {
      background-color: orange;
      text-decoration: underline;
  }

  h1 {
      color: blue;
      font-size: 20px
  }

  p {
      color: red;
  }


  #testid {
      background-color: #ccc;
      padding: 10px
  }

  .testcls {
      color: red;
      font-weight: bold;
  }