body {
      background: url(https://imgpile.com/images/90c1c2e077f38cf2406b4a69bcf8f744.jpg);
      background-size:100% 100% ;
      text-decoration: ;
  }

  h1 {
      color: limegreen;
      font-size: 35px
  }

  p {
      color: deeppink;
      font-size: 25px
  }
  h2 {
      color: darkred;
      font-size: 25px
  }

  #testid {
    text-align: center;
      padding: 20px
  }

  .testcls {
      color: deepskyblue;
      font-weight: bold;
  }  

   