body {
      background: url(https://hdqwalls.com/download/leo-messi-image-2880x1800.jpg);
      background-size:100%  ;
      text-decoration: ;
  }

  h1 {
      color: pink;
      font-size: 35px
  }

  p {
      color: yellow;
      font-size: 25px
  }
  h2 {
      color: red;
      font-size: 25px
  }

  #testid {
    text-align: center;
      padding: 20px
  }

  .testcls {
      color: deepskyblue;
      font-weight: bold;